.back {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}

.back span {
  color: var(--gray);
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
