@media print {
  .wppCircle {
    display: none;
  }

  .linesButtons {
    display: none;
  }

  .separator {
    display: none;
  }

  .endOfCategory {
    height: 2rem;
  }

  .chemCategory img {
    display: none;
  }
}
