.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  text-align: center;
  height: 90vh;
  overflow-x: hidden;
}

.homePage img {
  width: 120px;
}

.homePage .buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 50%;
}

.social-media {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
}

.clickText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #333;
}

.menuButtons {
  position: relative;
}

.menu-click {
  position: absolute;
  top: 30px;
  right: 0px;
  transform: rotate(-20deg);
  animation: clickPulse 1s infinite alternate;
}

@keyframes clickPulse {
  0% {
    transform: rotate(-20deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(-20deg) scale(1.15);
    opacity: 0.7;
  }
}
