.conatinersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.linesButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
